Repository ViktorZhurbin/my-journal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "eslint --cache --fix",
    "prettier --write"
  ],
  "*.css": "stylelint --fix"
}

fix edit/toggle operations in mongoose
  src/pages/api/todo/edit.ts
  src/pages/api/todo/toggle.ts
Due: eslint --cache --fix, prettier --write

update lint-staged
  .lintstagedrc
Due: none

use mongoose remove array method
  src/pages/api/todo/delete.ts
Due: eslint --cache --fix, prettier --write

refactor initDb
  src/models/index.ts
  src/utils/initDb.ts
Due: eslint --cache --fix, prettier --write

type naming best practices
  src/modules/todo/@types/Account.ts
  src/modules/todo/@types/Todo.ts
  src/modules/todo/@types/index.ts
  src/modules/todo/components/AddTodo/AddTodo.tsx
  src/modules/todo/components/DraggableTodoList/DraggableTodoList.tsx
  src/modules/todo/components/Todo/BaseTodo/BaseTodo.tsx
  src/modules/todo/components/Todo/Todo.tsx
  src/pages/api/todo/toggle.ts
Due: eslint --cache --fix, prettier --write

add generic object type
  src/@types/GenericObject.ts
  src/@types/index.ts
Due: eslint --cache --fix, prettier --write

refactor get todos
  src/modules/todo/@types/ResponseData.ts
  src/modules/todo/components/AddTodo/AddTodo.tsx
  src/modules/todo/services/index.ts
  src/pages/api/todo/get.ts
  src/utils/fetcher.ts
Due: eslint --cache --fix, prettier --write

fix optimistic response to get todos
  src/modules/todo/components/AddTodo/AddTodo.tsx
Due: eslint --cache --fix, prettier --write

style Auth
  src/components/Auth/Auth.module.css
  src/components/Auth/Auth.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Due: eslint --cache --fix, prettier --write, stylelint --fix

add title
  src/modules/todo/components/TodoList/TodoList.module.css
  src/modules/todo/components/TodoList/TodoList.tsx
Due: eslint --cache --fix, prettier --write, stylelint --fix

add Layout
  src/components/Layout/Layout.tsx
  src/components/Layout/index.ts
  src/modules/todo/pages/TodoList.ts
  src/modules/todo/pages/TodoList.tsx
  src/pages/index.tsx
Due: eslint --cache --fix, prettier --write

config
  .eslintrc
Due: none

file structure
  src/modules/todo/pages/TodoList.tsx
  src/modules/todo/pages/TodoList/TodoList.module.css
  src/modules/todo/pages/TodoList/TodoList.tsx
  src/modules/todo/pages/TodoList/index.ts
  src/pages/index.tsx
Due: eslint --cache --fix, prettier --write, stylelint --fix
